/* General Styling */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

/* Product Container */
.product-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  border-bottom: 4px solid black;
}

/* Hero Section */
.product-hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.product-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
 
  transition: transform 0.5s ease;
}

.product-hero:hover .product-cover {
  transform: scale(1.1);
}

/* Overlay Content */
.overlay-content {
  position: absolute;
  text-align: center;
  color: white;
  z-index: 2;
  animation: fadeInUp 1s ease-out;
  padding: 0 1rem; /* Padding for content responsiveness */
}

.product-title {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  animation: fadeIn 1s ease;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem; /* Adjust for better spacing */
}

.product-subtitle {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 30px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  animation: fadeIn 1.2s ease;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px; /* Adjust for better alignment */
}

.know-more-btn {
  padding: 12px 24px;
  background-color: #005a8d;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  animation: fadeIn 1.4s ease;
  margin-left: auto;
  margin-right: auto;
  display: inline-block; /* Ensures button centers properly */
}

.know-more-btn:hover {
  background-color: #003f66;
  transform: scale(1.1);
}

/* Scroll Section */
.product-showcase {
  margin: 40px auto;
  padding: 40px;
  text-align: center;
}

/* Animations */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Responsive Design */
@media (max-width: 1024px) {
  .product-title {
    font-size: 3rem;
  }

  .product-subtitle {
    font-size: 1.3rem;
  }

  .know-more-btn {
    font-size: 1.1rem;
    padding: 10px 20px;
  }
}

@media (max-width: 768px) {
  .overlay-content {
    padding: 0 2rem; /* Increase padding for mobile devices */
  }

  .product-title {
    font-size: 2.5rem;
  }

  .product-subtitle {
    font-size: 1.2rem;
  }

  .know-more-btn {
    font-size: 1rem;
    padding: 8px 16px;
  }
}

@media (max-width: 480px) {
  .product-title {
    font-size: 2rem;
  }

  .product-subtitle {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  .know-more-btn {
    font-size: 0.9rem;
    padding: 6px 12px;
  }
}
